# dataset
data

.ipynb_checkpoints
*/.ipynb_checkpoints/*

fastai

s3/__pycache__/
s3/results/
s3/utils/__pycache__/
s4/__pycache__/
s4/outputs/*
s4/model.bin
s4/model.bin.optim

fastai2_huggingface_nlp/.ipynb_checkpoints
fastai2_huggingface_nlp/fastai2
fastai2_huggingface_nlp/tmp
fastai2_huggingface_nlp/models
fastai2_huggingface_nlp/outputs

s5/__pycache__/
s5/results/
s5/utils/__pycache__/
s5/__MACOSX
s5/model.bin
s5/model.bin.optim
