# dataset
data

.ipynb_checkpoints
*/.ipynb_checkpoints/*

fastai

s3/__pycache__/
s3/results/
s3/utils/__pycache__/
s4/__pycache__/
s4/outputs/*
s4/model.bin
s4/model.bin.optim

fastai2_nlp/.ipynb_checkpoints
fastai2_nlp/fastai2
fastai2_nlp/tmp
fastai2_nlp/models
